<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="template1" lang="fr">
	<head>
		<meta charset="utf-8"/>
		<title>Votre Banque</title>
	</head>
	<body>
		<div layout:fragment="content">
			<div class="col-md-6">
				<div class="panel panel-primary">
					<div class="panel-heading">Consultation d'un compte</div>
					<div class="panel-body">
					
					</div>
				</div>
				
				<div class="panel panel-primary">
					<div class="panel-heading">Informations sur le compte</div>
					<div class="panel-body">
					
					</div>
				</div>
				
				<div class="panel panel-primary">
					<div class="panel-heading">Opération sur le compte</div>
					<div class="panel-body">
					
					</div>
				</div>
				
				<div class="panel panel-primary">
					<div class="panel-heading">Liste des opérations</div>
					<div class="panel-body">
					
					</div>
				</div>
				
			</div>
		</div>
	</body>
</html>