<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorator="template1">
	<head>
		<meta charset="utf-8"/>
		<title>Votre Banque</title>
	</head>
	<body>
		<div layout:fragment="content">
			<div class="col-md-6">
				<div class="pannel pannel-primary">
					<div class="pannel-heading">Consultation d'un compte</div>
					<div class="pannel-body">
					</div>
				</div>
			</div>
			<div class="col-md-6">
			</div>
		</div>
	</body>
</html>